*{
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding:0;

}
.container{
	width: 100%;
	height: 150vh;
	background-image: url(images/img.jpg);
	background-position: center;
	background-size: cover;
	padding-left: 8.5%;
	padding-right: 8.5%;
	box-sizing: border-box;
}

.topbar{
	height: 15%;
	display: flex;
	align-items: center;
}

.lowbar{
	height: 15%;
	display: inline-flex;
	align-items: center;
}

}
.row{
	display: inline-flex;
	height: 100%;
	align-items: center;
}

.col{
	height: 12%;
	display: initial;
	align-items: center;
	color: black;

}

.logo,.logo1{
	width: 90px;
}

.group1{
	width: 300px;
	height: 240px;
	display: inline-table;
	padding: 10px 10px;
	margin: 15px 15px;
	background-color: lawngreen;
}

.group2{
	width: 300px;
	height: 240px;
	display: inline-table;
	padding: 10px 10px;
	margin: 15px 15px;
	background-color: mediumpurple;
}

.group3{
	width: 300px;
	height: 240px;
	display: inline-table;
	padding: 10px 20px;
	margin: 15px 15px;
	background-color: lightsalmon;
}

h1{
	color: orangered;
	font-size: 71px;
	background-color: greenyellow;
	padding: 0.5%;
}

h2{
	color:palevioletred;
	font-size: 30px;
	padding: 0.5%;
}

h3{
		color:springgreen;
	font-size: 30px;
	padding: 0.5%;
}

h4{
		color: mediumpurple;
	font-size: 30px;
	padding: 0.5%;
}

.sb{
	width: 300px;
	height: 200px;
}